page-home {
}
.footer .searchbar-search-icon {
    display:none;
    width:0;
    height:0;
}
.footer .searchbar-input {
    text-align:center;
    border-radius:8px;
}
.footer .searchbar-input-container {
    width:66%;
    margin-right:auto;
    margin-left:auto;
}
